 // Imports des différents fichiers scss
 @import "base/variables.scss";
 @import "base/fonts.scss";
 @import "components/buttons.scss";
 @import "layout/header.scss";
 @import "layout/footer.scss";
 @import "pages/home.scss";
 @import "layout/contact.scss";

 // Définition des styles globaux
p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
}

h1 {
    font-family: 'SpaceMono';
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    @media screen and (max-width: 767px) {
    font-size: 27.6px;
  }
}

h2 {
    font-family: 'SpaceMono';
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    @media screen and (max-width: 767px) {
    font-size: 46px;
  }
}

h3 {
    font-family: 'SpaceMono';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.legend {
    font-family: 'SpaceMono';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

