@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../assets/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../assets/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
/* Mise en forme du bloc header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 150px;
}

/* Mise en forme du logo */
.logo {
  width: 220px;
  height: 100%;
}

/* Mise en forme du menu */
ul#menu-menu-principal {
  list-style: none;
  display: flex;
}

ul#menu-menu-principal > li a {
  text-decoration: none;
  color: black;
  font-family: "SpaceMono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px;
}

ul#menu-menu-principal > li a:hover {
  font-weight: 700;
}

/* Mise en forme du menu hamburger en version mobile */
.mobile-menu {
  flex-direction: column;
  background-color: #E00000;
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu li a {
  text-decoration: none;
  color: white;
  font-family: "SpaceMono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  text-transform: uppercase;
}

.mobile-menu li a:hover {
  font-weight: 700;
}

.hamburger-icon,
.cross-icon {
  display: none;
  cursor: pointer;
}

/* Styles pour la version mobile */
@media (min-width: 767px) {
  /* Cacher le menu mobile */
  .mobile-menu {
    display: none;
  }
  .hamburger-icon {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /* Cacher le menu desktop */
  ul#menu-menu-principal {
    display: none;
  }
  .header {
    margin: 20px 25px;
  }
  /* Afficher le bouton hamburger en version mobile */
  .hamburger-icon {
    display: block;
  }
  /* Cacher le bouton croix en version mobile */
  .cross-icon {
    display: none;
  }
  /* Afficher le menu hamburger en version mobile lorsqu'il est ouvert */
  .mobile-menu.open {
    transform: translateX(0);
  }
}
.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
  padding: 0;
}

.footer ul > li a {
  text-decoration: none;
  color: black;
  font-family: "SpaceMono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px;
}

.footer ul > li a:hover {
  font-weight: 700;
}

.footer ul > li p {
  color: black;
  font-family: "SpaceMono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 20px;
}

/* Styles pour la version mobile */
@media (max-width: 767px) {
  /* Cacher le menu mobile */
  .footer ul {
    display: flex;
    flex-direction: column;
  }
  .footer li {
    margin: 10px;
  }
}
.container-modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  /* Animation d'ouverture */
  animation-name: modal-fade-in;
  animation-duration: 0.5s;
}

/* Animation d'ouverture en fondu (fade-in) */
@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
div#contactModal {
  background-color: white;
  border: black 5px solid;
  margin: 10% auto;
  padding-bottom: 30px;
  padding-top: 10px;
  width: 30%;
}
@media screen and (max-width: 767px) {
  div#contactModal {
    width: 90%;
  }
}

.img-contact-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-image: url("../assets/images/Contact-header.png");
  background-size: cover;
  background-position: center;
}

label {
  color: black;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

input, textarea {
  height: 40px;
  border-radius: 10px;
  border: 2px #D8D8D8 solid;
}

textarea {
  height: 300px;
}

.wpforms-field {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 50%;
}

#wpforms-form-14 > div.wpforms-field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wpforms-submit-container {
  display: flex;
  justify-content: center;
}

#wpforms-submit-14 {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 50%;
  background-color: #D8D8D8;
  font-family: "SpaceMono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

.container-lightboxmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  /* Animation d'ouverture */
  animation-name: modal-fade-in;
  animation-duration: 0.5s;
}

#img-lightbox {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.carrousel-img-lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contener-photo-lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 50px;
}

.contener-infos-lightbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contener-infos-lightbox p {
  color: white;
  text-transform: uppercase;
}

.contener-arrow-left,
.contener-arrow-right {
  display: flex;
  justify-content: space-between;
}

a#lightbox-prev-link, a#lightbox-next-link {
  text-decoration: none;
}

.contener-arrow-left p,
.contener-arrow-right p {
  color: white;
  font-family: "SpaceMono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.contener-arrow-left:hover, .contener-arrow-right:hover {
  width: 120%;
}

.contener-arrow-left p:hover,
.contener-arrow-right p:hover {
  font-weight: 700;
}

.arrow-left,
.arrow-right {
  filter: invert(100%);
  width: 20%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.cross-icon-lightbox {
  display: flex;
  justify-content: right;
  margin: 50px;
  cursor: pointer;
}

.cross-icon-lightbox img {
  filter: invert(100%);
}

.page-principale {
  margin: 70px 120px;
}
@media screen and (max-width: 767px) {
  .page-principale {
    margin: 70px 70px;
  }
}

.hero {
  position: relative;
  height: 50vw;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-hero {
  min-width: 100%;
  min-height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1; /* Placer l'image derrière le titre */
}

.hero h1 {
  color: transparent;
  -webkit-text-stroke: 2px white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1;
  white-space: nowrap;
}

.charger-plus {
  display: flex;
  justify-content: center;
}

.charger-plus-btn {
  border: none;
  border-radius: 5px;
  background-color: #d8d8d8;
  font-family: "SpaceMono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: black;
  padding: 15px 90px;
}

.charger-plus-btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.filtres {
  display: flex;
}
@media screen and (max-width: 767px) {
  .filtres {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.contener-filtre {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-right: 50px;
}
@media screen and (max-width: 767px) {
  .contener-filtre {
    flex-direction: column;
    justify-content: center;
  }
}

.contener-tri {
  display: flex;
  width: 50%;
  justify-content: end;
}
@media screen and (max-width: 767px) {
  .contener-tri {
    width: 100%;
    justify-content: start;
  }
}

/* Style pour les options dans Select2 */
.select2-results__option {
  background-color: white;
  color: black;
}

/* Au survol de la souris */
.select2-results__option:hover {
  background-color: red;
  color: white;
}

span.select2-selection.select2-selection--single {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid #C4C4C4;
}

.select2-container--default .select2-results > .select2-results__options {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: red;
  color: white;
}

li#select2-format-filter-result-076b-format {
  color: white;
}

li#select2-format-filter-result-076b-format {
  color: white;
}

.select2-search--dropdown {
  display: none;
}

span.select2.select2-container.select2-container--default {
  width: 350px !important;
}

.select2-container--default .select2-results__option--selected {
  background-color: #FFD6D6;
}

.single-page-body {
  margin: 0 150px;
}
@media screen and (max-width: 767px) {
  .single-page-body {
    margin: 0 80px;
  }
}

.publication {
  display: flex;
  padding-top: 20px;
}
@media screen and (max-width: 767px) {
  .publication {
    flex-direction: column;
    align-items: center;
  }
}

.info-publication {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
  border-bottom: solid 1px black;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .info-publication {
    width: 100%;
  }
}

.info-publication h2 {
  margin: 0;
}

.info-publication p {
  font-family: "SpaceMono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0px;
}

.bloc-photo-publication-mobile {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .bloc-photo-publication-mobile {
    display: none;
  }
}

.bloc-photo-publication-desktop {
  display: flex;
  justify-content: end;
  width: 50%;
}
@media screen and (max-width: 767px) {
  .bloc-photo-publication-desktop {
    display: none;
  }
}

.photo-publication {
  width: 90%;
}
@media screen and (max-width: 767px) {
  .photo-publication {
    width: 100%;
  }
}

.demande-contact {
  display: flex;
  height: 118px;
  border-bottom: 1px solid black;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .demande-contact {
    padding-bottom: 10px;
  }
}

.contact-photo {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .contact-photo {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.bouton-single-photo,
.bouton-contact-single-photo {
  border: none;
  border-radius: 5px;
  background-color: #D8D8D8;
  font-family: "SpaceMono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: black;
  padding: 15px 60px;
}

.bouton-single-photo:hover {
  background-color: black;
  color: white;
}

.contener-miniature-arrow {
  display: flex;
  flex-direction: column;
}

.photo-suiv-prec {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .photo-suiv-prec {
    display: none;
  }
}

.miniature {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
}

.miniature img {
  height: 80px;
  width: 80px;
  display: none;
}

.arrow-prec-suiv {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.arrow-prec-suiv img {
  width: 25px;
}

.thumbnail-prev,
.thumbnail-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px; /* Ajustez la taille de la miniature */
  height: 80px; /* Ajustez la taille de la miniature */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.thumbnail-prev {
  margin: -54px -25px;
}

.thumbnail-next {
  margin: -54px -80px;
}

.prev-photo:hover .thumbnail-prev,
.next-photo:hover .thumbnail-next {
  opacity: 1;
}

.suggestion {
  display: flex;
  flex-direction: column;
  margin: 70px 0;
}
@media screen and (max-width: 767px) {
  .suggestion {
    margin: 10px 0;
  }
}

.titre-suggestion {
  display: flex;
}
@media screen and (max-width: 767px) {
  .titre-suggestion {
    justify-content: center;
  }
}

.photo-suggestion {
  display: flex;
  justify-content: center;
}

.bouton-suggestion {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .bouton-suggestion {
    display: none;
  }
}

/* Style pour les images */
.vignettes {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Style pour la grille */
.ligne-photos {
  display: flex;
  justify-content: center;
}

.grid-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px; /* Espacement entre les photos */
  margin: 30px 0;
}
@media screen and (max-width: 767px) {
  .grid-photos {
    display: flex;
    flex-direction: column;
  }
}

.photo-item {
  position: relative;
  display: inline-block;
}

.photo-item:hover .calque-photo {
  opacity: 1;
}

.calque-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.contener-fullscreen {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.contener-eye {
  display: flex;
  justify-content: center;
}

.contener-infos {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.icon-fullscreen {
  width: 50px;
}

#ref-photo {
  text-transform: uppercase;
}

#categorie-photo {
  font-family: "SpaceMono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
}

p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
}

h1 {
  font-family: "SpaceMono";
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 27.6px;
  }
}

h2 {
  font-family: "SpaceMono";
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 46px;
  }
}

h3 {
  font-family: "SpaceMono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}