/* Style pour les images */
.vignettes {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}


/* Style pour la grille */
.ligne-photos {
  display: flex;
  justify-content: center;
}

.grid-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px; /* Espacement entre les photos */
  margin: 30px 0;
  @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
}

//Calque photo au survol 
.photo-item {
  position: relative;
  display: inline-block;
}

.photo-item:hover .calque-photo {
  opacity: 1;
}

.calque-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.contener-fullscreen {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.contener-eye {
  display: flex;
  justify-content: center;
}

.contener-infos {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.icon-fullscreen {
  width: 50px;
}

#ref-photo {
  text-transform: uppercase;
}

#categorie-photo {
  font-family: 'SpaceMono';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}



