/* Sidenav menu */
.sidenav {
    opacity: 0;
    background-color: #FFF5E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.bandeau {
    background-color: #FFD5A2;
    height: 118px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.site-title {
    text-align: center;
}

.container-img-fleursdoranger-menu {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fleursdoranger-menu {
    width: 15%;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: black;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 70px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidenav p {
    text-align: center;
}

.sidenav h2 {
    color: black;
    background-image: none;
    font-size: 64px;
    font-family: "Roboto Mono", monospace;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.sidenav h2:hover {
    text-shadow: 0 0 1px #FF5C00, 0 0 3px #FF5C00,
    0 0 10px #FF5C00;
  }

/* Active class */
.sidenav.active {
    opacity: 1;
    z-index: 1;
    visibility: visible;
}

/* Close btn */
.sidenav .close {
    font-size: 36px;
    position: fixed;
    right: 128px;
}


/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.main-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

/* Lien openBtn */
#openBtn {
    position: absolute;
    right: 25px;
    margin-right: 100px;
}

/* Ajout des images */
#storymenu::before {
    content: url(./assets/images/cat-purple.png);
    position: absolute;
    right: 8em;
    top: -1em;
}

#storymenu::after {
    content: "";
    background-image: url(../foce/assets/images/Sunflower.png);
    width: 216px;
    /* Ajustez la valeur selon la taille souhaitée */
    height: 216px;
    /* Ajustez la valeur selon la taille souhaitée */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -6em;
    top: -1em;
}

#charactersmenu::before {
    content: "";
    background-image: url(../foce/assets/images/orchid.png);
    width: 172px;
    /* Ajustez la valeur selon la taille souhaitée */
    height: 168px;
    /* Ajustez la valeur selon la taille souhaitée */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 17.5em;
    top: -3.5em;
}


#charactersmenu::after {
    content: "";
    background-image: url(../foce/assets/images/random_flower.png);
    width: 70px;
    /* Ajustez la valeur selon la taille souhaitée */
    height: 70px;
    /* Ajustez la valeur selon la taille souhaitée */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -8em;
    top: 0.5em;
}

#placemenu::before {
    content: "";
    background-image: url(../foce/assets/images/flower.png);
    width: 70px;
    /* Ajustez la valeur selon la taille souhaitée */
    height: 70px;
    /* Ajustez la valeur selon la taille souhaitée */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 10em;
    top: -1em;
}

#placemenu::after {
    content: url(./assets/images/cat-black.png);
    position: absolute;
    right: -6em;
    top: 0;
}

#studiomenu::after {
    content: url(./assets/images/cat-orange.png);
    position: absolute;
    right: 15em;
    top: 2em;
}

#studiomenu::before {
    content: "";
    background-image: url(../foce/assets/images/hibiscus_footer.png);
    width: 626px;
    /* Ajustez la valeur selon la taille souhaitée */
    height: 626px;
    /* Ajustez la valeur selon la taille souhaitée */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -15em;
    top: 0em;
}
