.single-page-body {
  margin: 0 150px;
  @media screen and (max-width: 767px) {
    margin: 0 80px;
  }
}

// Bloc infos photos et photos
.publication {
  display: flex;
  padding-top: 20px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.info-publication {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
  border-bottom: solid 1px black;
  padding-bottom: 25px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.info-publication h2 {
  margin: 0;
}

.info-publication p {
  font-family: "SpaceMono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0px;
}

.bloc-photo-publication-mobile {
  display: flex;
  width: 100%;
  @media screen and (min-width: 767px) {
    display: none;
  }
}

.bloc-photo-publication-desktop {
  display: flex;
  justify-content: end;
  width: 50%;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.photo-publication {
  width: 90%;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

// Bloc cette photo vous intéresse ?
.demande-contact {
  display: flex;
  height: 118px;
  border-bottom: 1px solid black;
  align-items: center;
  @media screen and (max-width: 767px) {
    padding-bottom: 10px;
  }
}

.contact-photo {
  width: 50%;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.bouton-single-photo,
.bouton-contact-single-photo {
  border: none;
  border-radius: 5px;
  background-color: $gris-medium;
  font-family: "SpaceMono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  color: black;
  padding: 15px 60px;
}

.bouton-single-photo:hover {
  background-color: black;
  color: white;
}


// Post suivant / Post précédent avec miniature
.contener-miniature-arrow {
  display: flex;
  flex-direction: column;
}

.photo-suiv-prec {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.miniature {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 80px;
}

.miniature img {
  height: 80px;
  width: 80px;
  display: none;
}

.arrow-prec-suiv {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.arrow-prec-suiv img {
  width: 25px;
}

.thumbnail-prev,
.thumbnail-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px; /* Ajustez la taille de la miniature */
  height: 80px; /* Ajustez la taille de la miniature */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.thumbnail-prev {
  margin: -54px -25px;
}

.thumbnail-next {
  margin: -54px -80px;
}

.prev-photo:hover .thumbnail-prev,
.next-photo:hover .thumbnail-next {
  opacity: 1;
}



//Bloc suggestions photos
.suggestion {
  display: flex;
  flex-direction: column;
  margin: 70px 0;
  @media screen and (max-width: 767px) {
    margin: 10px 0;
  }
}

.titre-suggestion {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.photo-suggestion {
  display: flex;
  justify-content: center;
}

.bouton-suggestion {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

